*{
    cursor: default;

}

body{
    background-color: rgb(70, 73, 69);
    margin:0%;
    padding: 0;
    width:100vw;
    height: 100vh;
    overflow-x: hidden;
}

.cuerpo h1{
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: clamp(30px, 100px, 40px);
    text-align: center;
}
.cuerpo p{
    color: rgb(236, 255, 236);
    font-size: 20px;
    text-align: center;
}
span{
    color: rgb(230, 156, 156);
    border-bottom: 1px solid;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: rgb(255, 255, 255);
    text-align: center;
}
li{
    text-align: center;
    color: rgb(233, 255, 191);
    list-style: decimal;
    list-style-position: inside;
    font-size: 20px;
    padding: 1%
}

table{
    color: rgb(236, 255, 236);
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 20px;
}

th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
td:hover{
    background-color: rgb(93, 109, 93);
    color: rgb(255, 182, 87);

}

#img_1_ref{
    margin:  auto;
    width: 50%;
    height: 50%;
    position: absolute;
    transform: translate(50%, 10%);
    border: 2px solid black;

}

#img_1_ref img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}